<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Group 3 - Final Project</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-200">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Message transaction</h4>
							<form action="{{ url_for('client_message') }}" method="post">
								<div class="form-group">
									<label for="From">From</label>
									<input id="From" type="text" class="form-control" name="From" required autofocus>
									<div class="invalid-feedback">
										Please insert an address
									</div>
								</div>
                                <div class="form-group">
									<label for="To">To</label>
									<input id="To" type="text" class="form-control" name="To" required autofocus>
									<div class="invalid-feedback">
										Please insert an address
									</div>
                                </div>
                                <div class="form-group">
									<label for="Message">Message</label>
									<input id="Message" type="text" class="form-control" name="Message" required autofocus>
									<div class="invalid-feedback">
										Please insert your Message
									</div>
                                </div>
                                
								<div class="form-group">
									<label for="private">Private key</label>
									<input id="private" type="text" class="form-control" name="private" required>
									<div class="invalid-feedback">
										Please insert an address
									</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Submit
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
